.page .header[b-93npbln31w] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: black;
    border-bottom: 4px solid #000;
}

.header .icon[b-93npbln31w] {
    color: var(--color-accent);
    font-size: 2rem;
    letter-spacing: 0.04em;
    font-family: var(--font-display);
    font-weight: 400;
}

.header .button-container[b-93npbln31w] {
    display: flex;
    align-items: center;
}

.page .page-content[b-93npbln31w] {
    min-height: calc(100vh - 72px);
}